<div>
    <p>Hi <%= post.user.name%></p>
    <br>
    <br>
    <p>Your Post <strong><%= post.content%></strong> just got posted on codieal</p>
    <br>
    <br>
    <p>Thanks!!</p>
    
    </div>